*{box-sizing:border-box; margin: 0; padding: 0;}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.font {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    display: flex;
    flex-direction: row;
    width: 400px;
    /* max-width: 220px; */
    max-height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.head {
    margin-top: 20px;
}

.main-item {
    margin-top: 20px;
}

.item {
    display: flex;
    margin: 5px;
    padding: 5px;
    min-width: 50px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    flex-grow: 1;
}

.btn {
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(221, 221, 221, 1);
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    padding: 8px;
}

p {
    margin: 10px;
}

@media (max-width: 600px) {
    .item:nth-child(1n+1) {
        flex-basis: 100%;
    }
}