*{box-sizing:border-box; margin: 0; padding: 0;}

body {
    margin: 0 5% 0 5%;
    padding: 10px;
    background: linear-gradient(320deg, rgb(134, 186, 255), rgb(230, 150, 255));
    font-family:'Segoe UI';
}

h1 {
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 20px 0 30px 0;
    color: #000;
}

h2 {padding: 10px;}

p {padding: 10px;}

.time_style {
    color:#000;
    font-size:50pt;
    text-align:center;
    text-shadow: 0;
    font-family: Arial, Helvetica, sans-serif;
    }

.container {
    text-align: center;
}

.container .image {
    height: auto;
    width: 20px;
    padding-top: 3px;
}

.text_border {
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    margin: 30px 0 30px 0;
    text-align: center;
    padding: 10px;
}

.btn {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    text-align: center;
    transition-duration: 0.2s;
    margin-right: 10px;
    padding: auto;
}
.btn:hover {
    background-color: rgb(201, 201, 201);
}

.btn:active{
    background-color: rgb(249, 181, 255);
}

.pad {padding: 5px;}

.btn_rad {background: none; border-radius: none; border: none; backdrop-filter: none;}

.text_field {
    width: auto;
    height: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    text-align: left;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
}

.anim {
    width: 70px;
    height: auto;
    animation: 6s linear 0s normal none infinite running rot;
}
@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.calc {
    text-align: center;
    margin-top: 10px;
}

.calc_field {
    width: auto;
}

.wrapper {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    padding: 30px;
    margin: 20px;
}