*{box-sizing:border-box; margin: 0; padding: 0;}

html{
    box-sizing: border-box;
    height: 100%;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

body {
    background: rgba(122, 92, 250, 0.3);
}

.container {
    background: white;
    width: 760px;
    height: 1200px;
    margin: 0 auto;
    padding: 98px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label-text:not(:first-child) {
    margin-top: 32px;
}

.text_field {
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 564px;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    align-self: center;
}

.text_field:focus{
  border: 1px solid #7A5CFA;
}
.switch-div {
  margin-top: 32px;
  display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 24px;
    border-color: #666666;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border: 1px solid #CCCCCC;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 2px;
  background-color:  #F4F4F4;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7A5CFA;
}

input:focus + .slider {
  border: 1px solid #7A5CFA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 1px solid #CCCCCC;
}

.slider.round:before {
  border-radius: 50%;
}

.buttons {
  gap: 10px;
  display: flex;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.btn {
  width: 172px;
  height: 56px;
  border-radius: 8px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.btn.btn1 {
  background: #FFFFFF;
  border: 1px solid #7A5CFA;
  color: #7A5CFA;
}

.btn.btn2 {
  background: #7A5CFA;
  color: #FFFFFF;
  border: none;
}

.choices {
  margin-top: 32px;
  height: 136px;
  background: rgba(122, 92, 250, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radio {
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* W Background */

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 32px;
}
.check-div {
  margin-top: 32px;
  display: flex;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 24px;
	height: 24px;
	border-radius: 8px;
	background:#FFFFFF;
  border: 1px solid #CCCCCC;
	transition: .2s;
}
.checkbox + label:after {
	content: '';
	position:absolute;
	top: -3px;
	left: 8px;

}

.checkbox:checked + label:after {
  content: '✓';
}

.checkbox:focus + label:before {
  border: 1px solid #7A5CFA;
}


.switch-div {
  margin-top: 32px;
}

.label-rad {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-top: auto;
  margin-left: 16px;
}

.label-rad.checkbox1 {
  margin-left: 0px;
}

.group-choice {
    display: flex;
} 