*{box-sizing:border-box; margin: 0; padding: 0;}

.base {
    background: linear-gradient(320deg, rgb(165, 145, 255), rgb(205, 161, 255), rgb(168, 214, 252));
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    height: 100%;
}

.font {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}

.container {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    height: 100%;
}
 .text_field {
    border-radius: 8px;
    /* background: #ffffffce; */
    background: rgba(255, 255, 255, 0.5);
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    padding: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.name_field {
    width: 50%;
}

.date_field {
    margin-top: 10px;
    padding: 10px;
    width: 50%;
}
 
.hobby_field {
    height: 70px;
    width: 100%;
    margin-top: 10px;
}

.btn1 {
    border-radius: 8px;
    background: rgba(201, 142, 255, 0.788);
    border: 0px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.btn1:active {
    background: rgba(122, 92, 250, 0.3);
}

.carousel {
    margin: 10px 0 10px 0;
}

.head1 {
    height: 10%;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

.double-row {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: space-between;
}

.result_field {
    height: 92%;
    width: 150px;
}

.result_field:not(:first-child) {
    margin-top: 10px;
}