*{box-sizing:border-box; margin: 0; padding: 0;}

.base {
    background: rgb(160, 168, 189);
    /* background-image: url('"C:/Users/Владислав/Desktop/calc_html/lab_26/images/autumn.jpg"'); */
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    height: 100%;
    transition: 1s;
    -webkit-transition: 1s;
}

.font {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #222222;
}

.container {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    height: 100%;
}
 .text_field {
    border-radius: 8px;
    /* background: #ffffffce; */
    background: rgba(255, 255, 255, 0.5);
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    padding: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.name_field {
    width: 50%;
    height: 30px;
}

.date_field {
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    height: 30px;
}
 
.hobby_field {
    height: 70px;
    width: 100%;
    margin-top: 10px;
}

.btn1 {
    border-radius: 8px;
    background: rgba(109, 109, 109, 0.349);
    border: 0px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.btn1:hover {
    background: rgba(121, 121, 121, 0.3);
}

.btn1:active {
    background: rgba(161, 161, 161, 0.3);
}

.carousel {
    margin: 10px 0 10px 0;
}

.head1 {
    height: 10%;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    display: inline;
}

.double-row {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    /* justify-content: space-between; */
}

.result_field {
    min-height: 30px;
    height: auto;
    width: 150px;
    transition: 1s;
    -webkit-transition: 1s;
}

.result_field:not(:first-child) {
    margin-top: 10px;
}

.label1 {
    margin-top: 10px;
}

.f {
    border-radius: 8px;
}