*{box-sizing:border-box; margin: 0; padding: 0;}

html{
    box-sizing: border-box;
    height: 100%;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55.2264px;
}

body{
    background: #C1E3D6;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper {
    background: #F6FBF9;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 49.0901px;
    height: 698px;
    width: 698px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin: 131px 451px 131px 451px;
    padding: 68px;
}

.btn {
    background: #84C7AE;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    height: 90px;
    width: 391px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    font-size: 33.7495px;
    line-height: 44px;
    text-align: center;
    margin-top: 32px;
}

.text_field {
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 84px;
    width: 575px;
    padding: 32px;
    font-weight: 400;
    font-size: 23.01px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.text_field.mail {
    margin-top: 49px;
    margin-bottom: 29px;
}

.h2 {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55.2264px;
    line-height: 72px;
    text-align: center;
}

.p {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23.011px;
    line-height: 30px;
    text-align: center;
}

.rectangle1 {
    position: absolute;
    width: 750px;
    height: 750px;
    left: 1200px;
    top: 550px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 160px;
    transform: rotate(-45deg);
}

.rectangle2 {
    position: absolute;
    width: 750px;
    height: 750px;
    left: -411px;
    top: -250px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 160px;
    transform: rotate(-45deg);
}